
.input {
border: 1px solid $quicksilver;
color: $smokyblack;
font-family: $raleway;
font-size: $small;
font-weight: $regular;
padding: 5px;
width: 100%;
}

@media (min-width: 768px) {
.input {
font-size: $medium;
padding: 7px; }
}
